.title-font {
    width: 100%;
    font-size: 22px;
    display: flex;
    align-items: center;
    padding-bottom: 27px;
}

.title-font b{
    color: #61D8D8;
}

.title-font .title-icon {
    width: 36px;
    height: 36px;
    padding-right: 32px;
    color: #61D8D8;
}