.about-me-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

@media only screen and (min-width: 1024px) {
    .about-me-container {
        width: 60%;
        flex-direction: row;
    }
}

.about-me-container>img {
    width: 70%;
    min-width: 70%;
    height: 100%;
}

@media only screen and (min-width: 768px) {
    .about-me-container>img {
        width: 40%;
        min-width: 40%;
    }
}

.about-me-container>p {
    width: 80%;
    min-width: 20%;
    margin-top: 40px;
}

@media only screen and (min-width: 1024px) {
    .about-me-container>p {
        margin-left: 15%;
        margin-top: 0;
        width: 100%;
        min-width: 20%;
    }
}