.experience-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
    .experience-header {
        flex-direction: row;
    }
}

.experience-title {
    width: 100%;
    font-style: normal;
    font-size: 1.2em;
    line-height: 23px;

    color: var(--primary-color);
}

@media only screen and (min-width: 768px) {
    .experience-title {
        width: auto;
        padding-bottom: 10px;
    }
}

.experience-date {
    width: 100%;
    font-style: italic;
    font-size: 0.75em;
    text-align: end;
    line-height: 18px;

    color: var(--subtitle-color);
}

@media only screen and (min-width: 768px) {
    .experience-date {
        width: auto;
        text-align: unset;
    }
}

.experience-body {
    font-size: 1em;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: var(--primary-color);
}