.experience-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-title {
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 10px;

    color: var(--primary-color);
}

.experience-date {
    font-style: italic;
    font-size: 15px;
    line-height: 18px;
    
    color: var(--subtitle-color);
}

.experience-body {
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: var(--primary-color);
}