.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

@media only screen and (min-width: 768px) {
    .container {
        margin-top: 0;
    }
}

.header {
    font-size: 1.8em;
    line-height: 2.35em;
    letter-spacing: 0.47em;
}

@media only screen and (min-width: 768px) {
    .header {
        width: 277px;
        margin-top: -15px;
        margin-bottom: -10px;
    }
}

.body {
    letter-spacing: 0.02em;
}
