.container {
    display: flex;
    flex-direction: column;
}

.header {
    width: 277px;
    margin-top: -15px;
    margin-bottom: -10px;
    font-size: 30px;
    line-height: 67px;
    letter-spacing: 0.47em;
}

.body {
    letter-spacing: 0.02em;
}