.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: max-content;
  padding: 5px 10px;
  border-radius: 6px;
  top: 80%;

  background-color: rgb(10, 10, 10);
  opacity: 95%;

  text-align: center;
}