.tooltip >div {
  width: max-content;
  max-width: 90vw;
  border-radius: 6px;

  background-color: var(--tooltip-background-color);
  color: var(--primary-color);
  opacity: 95%;

  text-align: center;
}

.tooltip >div:first-child {
  padding: 5px 10px;
}
