:root {
    --extra-large-title-font-size: 2.7rem;
    --large-title-font-size: 1.8rem;
    --regular-title-font-size: 1.4rem;
    --small-title-font-size: 1.2rem;

    --regular-content-font-size: 1rem;
    --small-content-font-size: 0.83rem;
}

.font-title {
    font-family: ClashDisplay, 'Roboto', 'Oxygen';

}

.font-body {
    font-family: Nunito, Arial, serif;
}