.technology-container {
    width: 30%;
    height: 120px;
    display: grid;
    justify-content: start;
    justify-items: center;
}

.icon {
    width: 70px;
    height: 70px;
}

.technology-name {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}
