.technology-container {
    width: 30%;
    height: 120px;
    display: grid;
    justify-content: start;
    justify-items: center;
}

.technology-container .icon img {
    width: 25vw;
    max-width: 70px;
    height: 25vw;
    max-height: 70px;
    padding-top: 12px;
}

.icon svg {
    width: inherit;
    max-width: inherit;
    height: inherit;
    max-height: inherit;
}

.technology-container .technology-name {
    font-weight: 700;
    font-size: var(--regular-content-font-size);
    line-height: 18px;
}
