.project-container {
    margin-bottom: 1%;
    margin-right: 2%;
}

@media only screen and (min-width: 768px) {
    .project-container {
        width: 48%;
    }
}

.project-header-container {
    width: 100%;
}

.project-header-container .link-icon {
    height: 17px;
    width: 17px;
    opacity: 60%;
    color: var(--primary-color);
    rotate: 135deg;
}

.project-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-left: 3px;
}

.project-description {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin-inline-start: 20px;
}