.shift-effect {
    visibility: hidden;
    transform: translateY(50vh);
    transition: transform 0.8s ease-out;
}

.project-container {
    margin-right: 2%;
}

@media only screen and (min-width: 1024px) {
    .project-container {
        width: 48%;
    }
}

.project-header-container {
    width: 100%;
    display: flex;
    gap: 7px;
}

.project-header-container .link-icon {
    height: 17px;
    width: 17px;
    opacity: 60%;
    color: var(--primary-color);
    rotate: 135deg;
}

.project-title {
    font-weight: 700;
    font-size: var(--small-title-font-size);
    line-height: 23px;
    margin-left: 3px;
}

.project-description {
    font-weight: 400;
    font-size: var(--regular-content-font-size);
    line-height: 20px;
}