.button-basic-style {
    font-size: var(--small-title-font-size);
    
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.button-active {
    color: var(--primary-color);
}

.button-inactive {
    color: var(--primary-disabled-color);
}
