.button-basic-style {
    font-size: large;
    
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.button-active {
    color: white;
}

.button-inactive {
    color: grey;
}
