.presentation-block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 1024px) {
    .presentation-block-wrapper {
        align-items: unset;
    }
}

.presentation-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    .presentation-block {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
}

.presentation-block .name {
    display: flex;
    flex-direction: column;
    align-content: flex-end;

    font-weight: 700;
    font-size: var(--extra-large-title-font-size);
    line-height: 100%;
}

.buttons-block {
    width: 75%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
    .buttons-block {
        width: auto;
    }
}

.buttons-block .button {
    cursor: pointer;
    width: 28px;
    height: 28px;
}

.buttons-block .button:hover {
    transform: scale(1.25, 1.25);
    transition-duration: 0.3s;
}

.buttons-block .button:active {
    transform: scale(1, 1);
    transition-duration: 0.3s;
}
