.presentation-block {
    display: flex;
}

.presentation-block .name {
    display: flex;
    flex-direction: column;
    align-content: flex-end;

    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
}

.buttons-block {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    gap: 145px;
}

.buttons-block .button {
    width: 28px;
    height: 28px;
}

.buttons-block .button:hover {
    transform: scale(1.25, 1.25);
    transition-duration: 0.3s;
}

.buttons-block .button:active {
    transform: scale(1, 1);
    transition-duration: 0.3s;
}
