.section {
    color: var(--primary-color);
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (min-width: 1024px) {
    .section {
        flex-direction: row;
    }
}
