.App {
  background-color: var(--background-color);
}

@font-face {
  font-family: 'ClashDisplay';
  src: local('ClashDisplay'), url(./fonts/ClashDisplay/ClashDisplay-Variable.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./fonts/Nunito/Nunito-VariableFont_wght.ttf) format('truetype');
}
